<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <system.serviceModel>
    <services>
      <service name="OtherService.MyService" behaviorConfiguration="customBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:1378/services"/>
          </baseAddresses>
        </host>
        <endpoint address="test" binding="wsHttpBinding" contract="OtherService.IService"></endpoint>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="customBehavior">
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>