<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="messageInspector" type="ClassLibrary.MessageInspectorExtensionElement, ClassLibrary, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </behaviorExtensions>
    </extensions>
    <services>
      <service name="OtherService.MyService" behaviorConfiguration="customBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:1378/services"/>
          </baseAddresses>
        </host>
        <endpoint address="test" binding="basicHttpBinding" bindingConfiguration="fileupload" contract="OtherService.IService"></endpoint>
      </service>
      <service name="ClassLibrary.CustomService" behaviorConfiguration="myBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:1379/services"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="wsHttpBinding" contract="ClassLibrary.ICustomService"></endpoint>
      </service>
      <service name="OtherService.HelloService" behaviorConfiguration="helloBehavior">
         <host>
          <baseAddresses>
            <add baseAddress="http://localhost:1410/helloservice"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="wsHttpBinding" behaviorConfiguration="myInspector" contract="OtherService.IHelloService"></endpoint> 
      </service>
      <service name="ClassLibrary.MyService_1" behaviorConfiguration="myService_1">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:1420/service"/>
          </baseAddresses>
        </host>
        <endpoint address="net.tcp://localhost:1421/service/mex" binding="netTcpBinding" bindingConfiguration="myService_1" contract="ClassLibrary.IMyService_1">
          
        </endpoint>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="customBehavior">
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
        <behavior name="myBehavior">
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
        <behavior name="helloBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="myService_1">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    <endpointBehaviors>
      <behavior name="myInspector">
        <messageInspector />
      </behavior>
    </endpointBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="fileupload" transferMode="StreamedRequest" maxBufferSize="1024" maxReceivedMessageSize="524288000">
          
        </binding>
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="myService_1">
          <security mode="None"></security>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>
