<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService">
                    <security mode="None">
                        <transport clientCredentialType="None" />
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ICustomService" />
                <binding name="WSHttpBinding_IHelloService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1379/services" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_ICustomService" contract="ServiceReference2.ICustomService"
                name="WSHttpBinding_ICustomService">
                <identity>
                    <userPrincipalName value="DESKTOP-BCL5VMR\aoyo" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:1378/services/test" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService" contract="ServiceReference1.IService"
                name="BasicHttpBinding_IService" />
            <endpoint address="http://localhost:1410/helloservice" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IHelloService" contract="ServiceReference3.IHelloService"
                name="WSHttpBinding_IHelloService">
                <identity>
                    <userPrincipalName value="DESKTOP-BCL5VMR\aoyo" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>
